@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0 0 14px 0;
	background-color: #fafafa;
	font-family: 'Open Sans', sans-serif;
}


/*HEADER*/

.header{
	background-color: white;
	padding: 8px 16px;
	top: 0;
	width: 100%;
	height: 56px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	position: fixed;
}
.header__content{
	padding: 0;
	margin: 0 auto;
	width: 728px;
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo{
	height: 40px;
}
.header__img{
	height: 100%;
}
.header__btn{
	border: none;
	background-color: white;
	padding: 1px 6px;
	font-size: 16px;
}

/*HEADER*/
.container{
	margin-top: 72px;
}
/*STORIES*/

.stories{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 728px;
	margin: 0 auto;
}
.stories__user{
	margin: 0;
	padding: 0 8px;
}
.stories__thumb{
	width: 78px;
	height: 78px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
}
.stories__thumb--newStories{
	background: linear-gradient(45deg, rgba(245,160,77,1) 0%, rgba(160,15,139,1) 100%);
}
.stories__border{
	width: 72px;
	height: 72px;
	border: 2px solid white;
	border-radius: 100%;
}
.stories__img{
	width: 100%;
	border-radius: 100%;
}

/*STORIES*/

main{
	margin: 32px 0;
}


/*POSTS*/

.card{
	background-color: white;
	width: 45.5em;
	margin: 0 auto 30px;
	padding: 0;
	border-radius: 10px;
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, .1);
}
.card__header{
	padding: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card__user{
	display: flex;
	justify-content: start;
	align-items: center;
	height: 40px;
	margin: 0;
	padding: 0;
}
.card__href{
	margin: 0;
	padding: 0;
	width: 40px;
	height: 40px;
}
.card__profile{
	width: 100%;
	border-radius: 100%;
}
.card__name{
	margin-left: 8px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}
.card__btnHeader{
	padding: 1px 6px;
	font-size: 14px;
	background-color: white;
	border: none;
}
.card__figure{
	margin: 0;
	padding: 0;
	width: 100%;
}
.card__img{
	width: 100%;
}
.card__footer{
	margin: 0;
	padding: 4px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card__btn{
	padding-top: 0;
	margin: 0 8px;
	font-size: 24px;
	background-color: white;
	border: none;
}
.card__comments{
	padding: 8px;
	height: 46px;
	background-color: rgba(0, 0, 0, 0.05);
	box-sizing: border-box;
	display: flex;
	align-items: center;
}
.card__info{
	display: flex;
	justify-content: start;
	align-items: center;
}
.card__link{
	width: 30px;
	height: 30px;
	margin: 0;
	padding: 0;
}
.comments__user{
	width: 100%;
	border-radius: 100%;
}
.card__status{
	margin-left: 8px;
	font-size: 12px;
}
.card__status a{
	font-weight: bold;
	color: black;
	text-decoration: none;
}
/*POSTS*/
@media(max-width: 768px){
	.header__content{
		width: 98.8%;
	}
	.stories{
		width: 94.7%;
	}
	.card{
		width: 94.7%;
	}
}


@media(max-width: 425px){
	.header__content{
		width: 100%;
	}
	.stories{
		width: 100%;
	}
	.card{
		width: 92.7%;
	}
}

@media(max-width: 375px){
	.header__content{
		width: 100%;
	}
	.stories{
		width: 100%;
	}
	.card{
		width: 91.5%;
	}
}

@media(max-width: 320px){
	.header__content{
		width: 100%;
	}
	.stories{
		width: 100%;
	}
	.card{
		width: 90%;
	}
}